
name: migrate
on:
  workflow_dispatch:
jobs:
  commit_sync:
    uses: ./.github/workflows/commit_sync.yml
  tag_sync:
    uses: ./.github/workflows/tag_sync.yml
  pr_sync:
    uses: ./.github/workflows/pr_sync.yml
  label_sync:
    uses: ./.github/workflows/label_sync.yml
  milestone_sync:
    uses: ./.github/workflows/milestone_sync.yml
  issue_sync:
    uses: ./.github/workflows/issue_sync.yml
