
name: Setup GitHub Actions Importer

on:
  workflow_dispatch:

jobs:
  setup-importer:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }} # Use your PAT stored in secrets
    steps:
      - name: Install GitHub CLI and Actions Importer
               run: |
          gh --version
          gh auth status || true
          gh extension install github/gh-actions-importer
