
name: Convert GitLab CI to GitHub Actions

on:
  workflow_dispatch:

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "This minimal workflow parses and runs."
