
name: "Orchestrator"

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: "Do not copy/publish; only print"
        required: false
        default: "false"
        type: choice
        options: ["false", "true"]

jobs:
  repo_migration:
    name: "Run repo migration (reusable)"
    uses: ./.github/workflows/gitlab-ci-converter.yml

  package_migration:
    name: "Run container + npm migration (reusable)"
    uses: ./.github/workflows/package-Image-migration.yml
    
